*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#textos_inicio_container_cursos{
    float: left;
    text-align: left;
    width: 90%;
    margin-left: 40px;
    margin-bottom: 3%;
}


#textos_inicio_container_cursos h2 {
    color: #454545;
    border-bottom: solid 2px #afafaf;
}



.container_cards {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.cards{
    width: 50%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
}

.card{
    margin: 20px;
    width: 240px;
    height: 285px;
    padding: 20px;

}
.textos {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.textos h2 {
    font-size: large;
}

.textos p {
    font-size: 12px;
}

.imagem img {
    width: 290px;
    height: 180px;
}

#teste{
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;

}
/* Estilização Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;    height: 100px;
    border-radius: 5px;
    height: 100px;
}

.logo{
    width: 16%;
    font-size: xx-large;
    margin-top: 5px;
    text-decoration: none;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
}

.logo a{
    text-decoration: none;
    color: #1C1D1F;
}

.logo span{
    color: #75c78c;
}

.categoria{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}

.barra_pesquisa{
    width: 30%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    border: solid #acacac 1px;
}

.barra_pesquisa input{
    width: 85%;
    height: 80%;
    outline: none;   
    font-size: large;
}

.tres_icones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5%;
}

.tres_icones img{
    margin: 10px;
}
/* Estilização Header */

/* NavBar */
nav{
    margin-left: 50px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
    color: #acacac;
    border-radius: 5px;
}

nav a{
    text-decoration: none;
    color: #1C1D1F;
}

nav span{
    color: #75c78c;
}

nav p{
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

nav a{
    color: #1C1D1F;
    text-decoration: none;
}

nav p:hover{
    color: #75c78c;
    transition: 0.5s;
    transform:scale(1.1);
}
/* NavBar */



#div-1-btns-desc-curso{
    justify-content: space-between;
    display: flex;
    margin: 10px;
}

#btn-desc-add-carrinho, #btn-desc-add-favorito{
    cursor: pointer;
}


#btn-Comprar{
    background-color: #75c78c;
    width: 75%;
    color: #ffff;
    font-weight: bold;
    height: 40px;
}


#btn-Comprar{
    height: 40px;
}



/* Footer */

#div-footer{
    position: static;
    background-color: #1C1D1F;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 20%;

}

#div-footer h3{
font-weight: 100;
font-size: 20px;
margin: 10px;

}

#div-footer p{
    font-weight: 100;
    font-size: 20px;
    margin: 10px;

}

#area-lista-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin: 20px;
    padding: 40px;
    border-top: solid 1px #acacac23;
}

#area-lista-footer li{
    list-style-type: none;
    margin:20px ;

}